<!DOCTYPE html>
<html>
  <head>
    <title>UserIdSearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :user_id, class: "search_form", placeholder: "ユーザーIDを入力してください"%>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
